.alert {
    position:relative;
    margin-bottom:1rem;
    border-radius:.25rem;
}

.alert-success {
    color:#fafafa;
    background-color:#4fe067;
    border-color:#4fe067;
    padding: 1em;
}

.alert-danger {
    color:#721c24;
    background-color:#e04f4f;
    border-color:#e04f4f;
}

.table-header {
    text-align: center;
    font-size: large;
}

.ingredientAmount {
    text-align: center;
}

.\31 u.stepNumber {
    font-weight: 800;
    font-size: 1.3em;
    color: black;
}

button.remove_ingredient, button.remove_step {
    background-color: rgb(180, 40, 40) !important;
    font-weight: 900;
    font-size: inherit;
}

#ingredients_heading, #steps_heading {
    padding-top: 2em;
}

#add_ingredient, #add_step {
    background-color: rgb(40, 180, 40);
    font-weight: 900;
    font-size: inherit;
}

#generate_dinners_form input {
    width: 80px;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
}

#generate_dinners_form button {
    margin-top: 2em;
}

#button_row {
    margin-top: 2em;
}

#delete-recipe-form, #restore-recipe-form {
    margin: 0;
}

#delete-button {
    background-color: rgb(212, 59, 59);
    padding: 0 1em 0 1.5em;
}

#restore-button {
    background-color: rgb(82, 185, 51);
}

#generated-recipes {
    height: 50rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3rem;
}

#generated-recipes .card {
    width: 24rem;
    margin-bottom: 2rem;
}

.modal-header {
    background-color: rgba(164, 212, 240, 0.9);
}

.modal-title {
    margin: 0 auto;
}

.modal-backdrop {
    z-index: -1;
}

.modal-body {
    text-align: start;
}

.modal-body ul {
    list-style-type: none;
}
