.alert {
    position:relative;
    margin-bottom:1rem;
    border-radius:.25rem;
}

.alert-success {
    color:#155724;
    background-color:#4fe067;
    border-color:#4fe067;
}

.alert-danger {
    color:#721c24;
    background-color:#e04f4f;
    border-color:#e04f4f;
}

.ingredientAmount {
    text-align: center;
}

.\31 u.stepNumber {
    font-weight: 800;
    font-size: 1.3em;
    color: black;
}

button.remove_ingredient, button.remove_step {
    background-color: rgb(180, 40, 40) !important;
    font-weight: 900;
    font-size: inherit;
}

#ingredients_heading, #steps_heading {
    padding-top: 2em;
}

#add_ingredient, #add_step {
    background-color: rgb(40, 180, 40);
    font-weight: 900;
    font-size: inherit;
}

#generate_dinners_form input {
    width: 80px;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
}

#generate_dinners_form button {
    margin-top: 2em;
}

#button_row {
    margin-top: 2em;
}
